@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Engineering System</title>
</head>
    <body>
        <h1>Test Render</h1>
        <div>
            @RenderBody();
        </div>
    </body>
</html>
